


@media (max-width: 991px) {
    #main-section-desktop {
        display:block;
    }
}


    #main-section-mobile {
        display:none !important;
    }
    
    

    @media (max-width: 991px) {
        #main-section-mobile {
            display:none !important;
        }
    } 

